@import "tailwindcss";

@font-face {
  font-family: "Simplon Norm";
  src: url("../public/fonts/simplon_norm/fonts/simplonnorm-regular-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Simplon Norm";
  src: url("../public/fonts/simplon_norm/fonts/simplonnorm-medium-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Simplon Norm";
  src: url("../public/fonts/simplon_norm/fonts/simplonnorm-bold-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: "Simplon Mono";
  src: url("../public/fonts/simplon_mono/fonts/simplonmono-regular-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
